{% extends "base.html" %}
{% block body %}
<script type="text/javascript">
window.onload = function(){
    var c = document.getElementsByClassName('cardnum');
    for (var i = 0; i<c.length; i++) {
        var s = c[i].textContent;
        c[i].textContent = "************" + s.substring(s.length-4, s.length);
    }
};
</script>
    {% if page == 'payment_methods' %}
    <br>
    <br>
    <div class="container">
        <h2>Edit Payment Settings</h2>
        <div class="row">
            <div class="col-md-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number</th>
                            <th>Expires</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in cards%}
                        <tr>
                            <td>{{ c.name }}</td>
                            <td class="cardnum">{{ c.number | safe }}</td>
                            <td>{{ c.expires.strftime('%m-%y') }}</td>
                            <td><a href="/account/payment_methods?card={{ c.number }}">Edit</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                {% if card %}
                <form method="POST" name="update_card" id="update_card" class="form-signin">
                    <label for="card_number" class="sr-only">Card Number</label>
                    <input type="text" name="card_number" id="card_number" value="{{ card.number }}">
                    <input type="text" name="expiration_date" id="expiration_date" value="{{ card.expires }}">
                    <input type="submit" value="Update">
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% elif page == 'settings' %}
    <br>
    <br>
    <div class="container">
        <h2>Edit Account Settings</h2>
        <div class="row">
            <div class="col-md-3">
                <form class="form-signin" method="POST" name="settings_form">
                    <label for="first_name" class="sr-only">First Name</label>
                    <input type="text" id="first_name" name="first_name" placeholder="{{ user.first_name }}">
                    <label for="last_name" class="sr-only">Last Name</label>
                    <input type="text" id="last_name" name="last_name" placeholder="{{ user.last_name }}">
                    <label for="email" class="sr-only">Email Address</label>
                    <input type="text" id="email" name="email" placeholder="{{ user.email }}">
                    <label for="password" class="sr-only">New Password</label>
                    <input type="password" id="password" name="password" placeholder="">
                    <label for="password" class="sr-only">Confirm New Password</label>
                    <input type="password" id="password_confirm" name="password_conrifm" placeholder="">
                    <button type="button" class="btn btn-success">Update Account</button>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="jumbotron" style="background-color: #3BB83B; color: white; height: 200px;">
        <div class="container">
            <h1>Welcome, {{ user.first_name | safe }}</h1>
            <p>You currently have ${{ '%0.2f' | format(user.balance|float) }} in your account.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3>Recent Activity</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in recent_transactions %}
                        <tr>
                            <td>{{ t.dest | safe }}</td>
                            <td>${{ '%0.2f' | format(t.amount|float) }}</td>
                            <td>{{ t.date.strftime('%H:%M %m-%d-%Y') }}</td>
                            <td><span class="label label-{% if t.paid %}success">PAID{% else %}danger">UNPAID{% endif %}</span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <h3>Payment Options</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Card</th>
                            <th>Expires</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in cards%}
                        <tr>
                            <td class="cardnum">{{ c.number | safe }}</td>
                            <td>{{ c.expires.strftime('%m-%y') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6 col-md-4">
                <h3>More</h3>
                <div class="page-header">
                    <p><a href="/account/send">Send Money</a></p>
                </div>
                <div class="page-header">
                    <p><a href="/account/settings">Change my account settings</a></p>
                </div>
                <div class="page-header">
                    <p><a href="/account/payment_methods">Add or change payment methods</a></p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}
