<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/static/img/cb.png">
        {% block head %}
        <title>CashBuddy | Your money, our technology</title>
        {% endblock %}

        <!-- Bootstrap core CSS -->
        <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

    </head>

    <body>
        {% block navbar %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/static/img/cb.png" width="30px" height="30px" style="float:left;"/><img src="/static/img/cashbuddy_small.png" alt="CashBuddy" style="float:left;"/></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    {% if not user %}
                    <form class="navbar-form navbar-right" method="POST" action="/login">
                        <div class="form-group">
                            <input name="email" type="text" placeholder="Email" class="form-control">
                        </div>
                        <div class="form-group">
                            <input name="password" type="password" placeholder="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                    {% else %}
                    <div class="navbar-form navbar-right">
                        <a href="/account"><button class="btn btn-success">My Account</button></a>
                        <a href="/logout"><button class="btn btn-default">Logout</button></a>
                    </div>
                    {% endif %}
                </div><!--/.navbar-collapse -->
            </div>
        </nav>
        {% endblock %}
        {% block body %}
        {% endblock %}
        <hr>
        {% block footer %}
        <div class="container">
            <footer>
                <p>&copy; CashBuddy 2015</p>
            </footer>
        </div>
        {% endblock %}
        <!-- Bootstrap core JavaScript
================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/static/dist/js/bootstrap.min.js"></script>
    </body>
</html>
