{% extends "base.html" %}
{% block body %}
<!--
 $$$$$$\                      $$\       $$$$$$$\                  $$\       $$\
$$  __$$\                     $$ |      $$  __$$\                 $$ |      $$ |
$$ /  \__| $$$$$$\   $$$$$$$\ $$$$$$$\  $$ |  $$ |$$\   $$\  $$$$$$$ | $$$$$$$ |$$\   $$\
$$ |       \____$$\ $$  _____|$$  __$$\ $$$$$$$\ |$$ |  $$ |$$  __$$ |$$  __$$ |$$ |  $$ |
$$ |       $$$$$$$ |\$$$$$$\  $$ |  $$ |$$  __$$\ $$ |  $$ |$$ /  $$ |$$ /  $$ |$$ |  $$ |
$$ |  $$\ $$  __$$ | \____$$\ $$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |
\$$$$$$  |\$$$$$$$ |$$$$$$$  |$$ |  $$ |$$$$$$$  |\$$$$$$  |\$$$$$$$ |\$$$$$$$ |\$$$$$$$ |
 \______/  \_______|\_______/ \__|  \__|\_______/  \______/  \_______| \_______| \____$$ |
                                                                                $$\   $$ |
                                                                                \$$$$$$  |
                                                                                 \______/
-->
<div class="jumbotron" style="background-image: url('static/img/cash5.jpg'); text-align: center;">
    <div class="container">
        <h1>Your money, our technology.</h1>
        <p>The freedom to pay anywhere without worry. We've got you covered.</p>
        <p><a class="btn btn-success btn-lg" href="/register" role="button">Sign up for free &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Secure</h2>
            <p>With CashBuddy, you never need to worry about your money being stolen. Our dedicated security team works day and night to ensure that your money is safe with us. When you use CashBuddy, hackers and identity thieves are a thing of the past.</p>
            <p><a class="btn btn-default" href="/security" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Convenient</h2>
            <p>Many online retailers already support CashBuddy, and even more are joining us every day. With CashBuddy, you'll never need to give your credit card out to online retailers ever again.</p>
            <p><a class="btn btn-default" href="/partners" role="button">View partners &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Easy</h2>
            <p>Using CashBuddy is simple and hassle-free! Just create an account, add your payment information, and you'll be ready to start shopping in no time at all!</p>
            <p><a class="btn btn-default" href="/register" role="button">Get started &raquo;</a></p>
        </div>
    </div>
</div>
{% endblock %}
