{% extends "base.html" %}
{% block head %}
<title>CashBuddy Login</title>
<!-- Custom styles for this template -->
<link href="/static/css/login.css" rel="stylesheet">
{% endblock %}
{% block navbar %}
{% endblock %}
{% block body %}
<div class="container" style="text-align: center;">
    <form class="form-signin" method="POST" action="/login">
        <img src="/static/img/cashbuddy_small.png">
        <br><br>
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error | safe }}
        </div>
        {% elif message %}
        <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        {{ message | safe }}
        </div>
        {% else %}<br>{% endif %}
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <input type="hidden" name="txid" value="{{ txid | safe }}">
        <input type="hidden" name="postback" value="{{ postback | safe }}">
        <input type="hidden" name="amount" value="{{ amount | safe }}">
        <input type="hidden" name="next_page" value="{{ next_page | safe }}">
        <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
    </form>
    <div>
        <br>or<br><br>
        <a href="/register"><button class="btn btn-md btn-default">Register</button></a>
    </div>
</div>
{% endblock %}
{% block footer %}
<footer style="text-align:center;">
    <p>&copy; CashBuddy 2015</p>
</footer>
{% endblock %}
