{% extends "base.html" %}
{% block head %}
<title>Pay Now | CashBuddy</title>
<!-- Custom styles for this template -->
{% endblock %}
{% block navbar %}
{% endblock %}
{% block body %}
{% if debug %}
<script>alert('TXID: {{ txid | safe }}\nPostback: {{ postback | safe }}\nAmount:{{ amount | safe }}');</script>
{% endif %}
<script type="text/javascript">
window.onload = function(){
    if($('#postback'))
        $('#postback').submit();
    $('input').click(function() {
        submit_btn();
    })

    $('#submit_btn').click(function() {
        $('#payform').submit();
    })
};
</script>

    <div class="container">
    {% if success %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h3>Done!</h3>
                <p>Your transaction has been processed successfully. Now what?</p>
                {% if postback %}
                <form id="postback" method="POST" action="http://{{ postback | safe }}">
                    <input type="hidden" name="txid" value="{{ txid | safe }}">
                    <input type="hidden" name="amount" value="{{ amount | safe }}">
                    <input type="hidden" name="paid" value="true">
                </form>
                {% else %}
                <a href="/account"><button class="btn btn-success">My Account</button></a>
                {% endif %}
            </div>
    {% elif error %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h3>Oops!</h3>
                <p>{{ error}}</p>
                <a href="/account"><button class="btn btn-success">My Account</button></a>
                {% if postback %}
                <a href="http://{{ postback | safe }}"><button class="btn btn-default">Return to Merchant</button></a>
                {% endif %}
            </div>
    {% else %}
        <div class="page-header" style="text-align:center;">
            <h1>Pay Now with CashBuddy</h1>
            <p class="lead">It's that easy.</p>
        </div>
        {% if user %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h3>Ready to pay, {{ user.username | safe }}?</h3>
                <p>Click the button to pay.</p>
                <p><strong>Pay to:</strong> {{ dest | safe }}</p>
                <p><strong>Amount:</strong> ${{ amount | safe }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form id="payform" method="POST" action="/transaction">
                    <p><strong>Account Balance:</strong> ${{ user.balance}}</td>
                    {% if not user.balance - amount >= 0 %}<span class="label label-danger">Not Enough</span>{% endif %}
                    <input type="hidden" name="txid" value="{{ txid | safe }}">
                    <input type="hidden" name="postback" value="{{ postback | safe }}">
                    <input type="hidden" name="amount" value="{{ amount | safe }}">
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
        <p id="new_balance"></p>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align:center;">
                <button type="button" id="submit_btn" class="btn btn-success{% if not user.balance - amount >= 0 %} disabled{% endif %}">Pay securely <span class="glyphicon glyphicon-lock" aria-hidden="true"></span></button>
            </div>
        </div>
    {% endif %}
    {% endif %}
    </div>
    {% endblock %}
