{% extends "base.html" %}
{% block head %}
<title>CashBuddy Registration</title>
<!-- Custom styles for this template -->
<link href="/static/css/login.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="jumbotron" style="background-image: url('static/img/cash5.jpg'); text-align: center;">
    <div class="container">
        <h1>Let's get started!</h1>
        {% if error %}
        {{ error | safe }}
        {% else %}
        <br><br>
        {% endif %}
        <form class="form-signin" method="POST">
            <label for="inputUsername" class="sr-only">Username</label>
            <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-success btn-block" type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}
<footer style="text-align:center;">
    <p>&copy; CashBuddy 2015</p>
</footer>
{% endblock %}
